"<div class='topArea'>" + 
"	<div class='statusRow cardRow'>" + 
"		<div class='status'>" + 
"			<div class='label'>Status</div>" + 
"			<div class='value'>{{status}}</div>" + 
"		</div>" + 
"		<div class='progress'>" + 
"			<div class='label'>Current Progress</div>" + 
"			<div class='value'>{{progress}}</div>" + 
"		</div>" + 
"		<div class='entry'>" + 
"			<div class='label'>Entry in</div>" + 
"			<div class='value'>{{entryTime}}</div>" + 
"		</div>" + 
"		<div class='scheduled'>" + 
"			<div class='label'>Scheduled</div>" + 
"			<div class='value'>{{scheduledDate}}</div>" + 
"		</div>" + 
"		<div class='delivery'>" + 
"			<div class='label'>Delivery</div>" + 
"			<div class='value'>{{deliveryTime}}</div>" + 
"		</div>" + 
"		<div class='pickup'>" + 
"			<div class='label'>Pickup in</div>" + 
"			<div class='value'>{{pickupTime}}</div>" + 
"		</div>" + 
"				<div class='targetedDelivery'>" + 
"			<div class='label'>Targeted Delivery</div>" + 
"			<div class='value'>{{targetedDelivery}}</div>" + 
"		</div>" + 
"		<div class='expectedDelivery'>" + 
"			<div class='label'>Expected Delivery</div>" + 
"			<div class='value'>{{expectedDelivery}}</div>" + 
"		</div>" + 
"	</div>" + 
"	<div class='estimateRow cardRow'>" + 
"		<div class='currentEstimate'>" + 
"			<div class='label'>Current Estimate</div>" + 
"			<div class='value'>{{currentEstimateValue}}</div>" + 
"			<div class='duration'>{{currentEstimateDuration}}</div>" + 
"		</div>" + 
"		<div class='currentCost'>" + 
"			<div class='label'>Current Cost</div>" + 
"			<div class='value'>{{currentCostValue}}</div>" + 
"			<div class='duration'>{{currentCostDuration}}</div>" + 
"		</div>" + 
"		<div class='billed'>" + 
"			<div class='label'>Billed</div>" + 
"			<div class='value'>{{billedValue}}</div>" + 
"			<div class='duration'>{{billedDuration}}</div>" + 
"		</div>" + 
"		<div class='expectedCost'>" + 
"			<div class='label'>Expected Cost</div>" + 
"			<div class='value'>{{expectedCostValue}}</div>" + 
"			<div class='duration'>{{expectedCostDuration}}</div>" + 
"		</div>" + 
"	</div>" + 
"	<div class='actionRow cardRow'>" + 
"		<div class='crewChief'>" + 
"			<div class='label'>Assigned Crew Chief</div>" + 
"			<div class='value'>{{crewChief}}</div>" + 
"			<button class='action vwButton'>Contact</button>" + 
"		</div>" + 
"		<div class='suggestedAction'>" + 
"			<button class='action vwButton contactOwner'>Contact Car Owner</button>" + 
"			<button class='action vwButton confirmService'>Confirm Services</button>" + 
"		</div>" + 
"	</div>" + 
"</div>" + 
"<div class='bottomArea'>" + 
"	<div class='mileageRow cardRow'>" + 
"		<div class='current'>" + 
"			<div class='label'>Current Mileage</div>" + 
"			<div class='value'>{{currentMileage}}</div>" + 
"		</div>" + 
"		<div class='mileageSparkline'>" + 
"			<div class='label'>Daily Mileage</div>" + 
"			<div class='value'>{{mileageSparkline}}</div>" + 
"		</div>" + 
"				<div class='average MPG'>" + 
"			<div class='label'>Average MPG</div>" + 
"			<div class='value'>{{average MPG}}</div>" + 
"		</div>" + 
"		<div class='expectedDelivery'>" + 
"			<div class='label'>Daily MPG</div>" + 
"			<div class='value'>{{mpgSparkline}}</div>" + 
"		</div>" + 
"	</div>" + 
"	<div class='purchaseRow cardRow'>" + 
"		<div class='lastPurchase'>" + 
"			<div class='label'>Last Purchase</div>" + 
"			<div class='value'>{{lastPurchase}}</div>" + 
"		</div>" + 
"		<div class='purchasePrice'>" + 
"			<div class='label'>Purchase Price</div>" + 
"			<div class='value'>${{purchasePrice}}</div>" + 
"		</div>" + 
"		<div class='totalValue'>" + 
"			<div class='label'>Total Value Spent</div>" + 
"			<div class='value'>{{totalValue}}</div>" + 
"		</div>" + 
"	</div>" + 
"	<div class='ownerRow cardRow'>" + 
"		<div class='ownerName'>" + 
"			<div class='label'>Sold To</div>" + 
"			<div class='value'>{{ownerName}}</div>" + 
"		</div>" + 
"	</div>" + 
"	<div class='profilesRow cardRow'>" + 
"		<div class='ownerName'>" + 
"			<div class='label'>Sold To</div>" + 
"			<div class='value'>{{ownerName}}</div>" + 
"			<button class='action vwButton'>View</button>" + 
"		</div>" + 
"		<div class='previousOwnerName'>" + 
"			<div class='value'>{{previousOwnerName}}</div>" + 
"			<button class='action vwButton'>View</button>" + 
"		</div>" + 
"	</div>" + 
"</div>" 